body {
  font-family: 'Open Sans', sans-serif;
  color: darkblue;
  marging: 10px 50px 10px 50px;
  background-color: Ivory;
}
h1, h2 {
  font-family: 'Oswald', sans-serif;
}
img {
  float: left;
  margin-right: 10px;
}

#bar ul {
  list-style-type: none; /* Removes the bullet points */
}










